
/*------------------------------------*/
/*               général              */
/*------------------------------------*/
.factureBloc
  .icon_case
    display: block
    color: $text-color
    max-width: 250px
  .icon_case.icon_case_editable:hover
    box-shadow: 0 0 10px 2px

/*------------------------------------*/
/*            ajout facture           */
/*------------------------------------*/
#addFacture
  table
    width: 100%
    .btn-td
      a
        margin: auto 2px
#brouillonBlock
  form
    display: inline
  tr
    td:first-of-type
      //width: 80%
#nonSoldeBlock
  table
/*------------------------------------*/
/*          edition facture           */
/*------------------------------------*/
#editFacture
  table
    background-color: white
  .groupeLigneContent
    table
      td
        &:first-of-type
          width: 65%
        &:last-of-type
          min-width: 90px
  .groupeBouttons
    background-color: white
    margin: auto
    border: 1px solid #dddddd
    padding: 10px 10px
#modalMontage
  font-size: 16px